.material-icons {
  margin-right: 10px;
}

.tree-layers {
  margin: 5px;
  overflow: hidden;
}

.selected {
  background: #d0dcff;
}

.example-tree-invisible {
  display: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
