<div mat-dialog-content>
  <mat-form-field style="width: 200px">
    <mat-label>Тип объекта</mat-label>
    <mat-select required [(ngModel)]="type">
      <mat-option *ngFor="let t of types" [value]="t.id">
        {{t.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button matSuffix color="primary" (click)="save()" mat-dialog-close>Сохранить</button>
  <h3>Координаты (десятичные)</h3>
  <div style="overflow: scroll">
    <div *ngFor="let c of coordinates" style="width: 400px;">
      <mat-form-field style="width: 180px">
        <mat-label>широта</mat-label>
        <input matInput placeholder="широта" required [(ngModel)]="c.lat">
      </mat-form-field>
      <mat-form-field style="width: 180px">
        <mat-label>долгота</mat-label>
        <input matInput placeholder="долгота" required [(ngModel)]="c.lon">
      </mat-form-field>
      <button mat-icon-button matSuffix color="warn" (click)="delete(c)">
        <mat-icon>clear</mat-icon>
      </button>
      <br>
    </div>
    <button mat-button matSuffix color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
      Добавить
    </button>
  </div>
<!--  <textarea matInput [(ngModel)]="coordinates" style="min-width: 300px; min-height: 200px"></textarea>-->
  <h3>Координаты (градусы)</h3>
  <textarea matInput [(ngModel)]="coordinatesFg" style="min-width: 300px; min-height: 200px" readonly></textarea>
</div>
