<div class="example-headers-align">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Базовые слои
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-base-layer-admin></app-base-layer-admin>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Новости
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-news-edit></app-news-edit>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Резервное копирование БД
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-backup-db></app-backup-db>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Восстановление из резервной копии
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-restore-db></app-restore-db>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Проверка целостности таблиц БД
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-check-db></app-check-db>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Восстановление целостности таблиц БД
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-restore-db-tables></app-restore-db-tables>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Восстановление целостности индексов
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-restore-db-indexes></app-restore-db-indexes>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Настройка пользователей
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-user-list></app-user-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
