<mat-form-field class="w-100">
  <textarea matInput placeholder="Координаты" [(ngModel)]="coordinates" style="min-height: 100px"></textarea>
</mat-form-field>
<!--<div *ngFor="let coordinate of coordinates" style="margin-top: 8px">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Широта</mat-label>-->
<!--    <input appCoordinates type="text" matInput [(ngModel)]="coordinate.lat" required placeholder="XX.XXXXXXXXXX">-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="margin-left">-->
<!--    <mat-label>Долгота</mat-label>-->
<!--    <input appCoordinates type="text" matInput [(ngModel)]="coordinate.lon" required placeholder="XX.XXXXXXXXXX">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<button *ngIf="isPolygon" mat-button color="primary" (click)="add()">-->
<!--  <mat-icon>add</mat-icon>-->
<!--  Добавить координату-->
<!--</button>-->
