<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>Наименование</mat-label>
    <textarea matTextareaAutosize matInput [(ngModel)]="data.name" required></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Отмена</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="save()">Записать</button>
  <button *ngIf="data.id !== undefined" mat-button color="warn" mat-dialog-close (click)="delete()">Удалить</button>
</div>
