.container {
  position: relative;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: scroll;
}

table {
  width: 100%;
}
.mat-column-description {
  max-width: 800px;
}
.mat-column-created,
.mat-column-start,
.mat-column-end {
  max-width: 64px;
  min-width: 48px;
  vertical-align: baseline;
}

.mat-column-delete {
  width: 48px;
}
