<div>
  <mat-list role="list"
    (mouseleave)="hoveredRow = undefined"
  >
    <mat-list-item *ngFor="let d of dumps" role="listitem">
      <div class="d-flex align-items-center" (mouseenter)="hoveredRow = d">
        <a href="{{dumpsCatalog}}{{d.name}}">{{ d.name }}</a>
        <button *ngIf="d === hoveredRow" mat-icon-button
                class="mx-2"
                (click)="delete(d)"
        >
          <mat-icon style="color:red;">delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<mat-spinner *ngIf="creating"></mat-spinner>
<button mat-raised-button color="primary" (click)="createDump()">Создать резервную копию</button>
