<p>
  <mat-form-field>
    <mat-label>Сервер</mat-label>
    <input type="text" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Порт</mat-label>
    <input type="text" matInput required>
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <mat-label>Пользователь</mat-label>
    <input type="text" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input type="password" matInput required>
  </mat-form-field>
</p>
<mat-form-field>
  <mat-label>База данных</mat-label>
  <input type="password" matInput required>
</mat-form-field>
<button mat-raised-button color="primary">Проверить подключение</button>
