<table mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>
  <ng-container matColumnDef="delete" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element === current">
        <button mat-icon-button (click)="edit(element)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> ФИО </th>
    <td mat-cell *matCellDef="let element"> {{element.name.toUpperCase()}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Телефон </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef> Администрирование</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox color="primary" [(ngModel)]="element.admin" (change)="toggleAdmin(element)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="layers">
    <th mat-header-cell *matHeaderCellDef> Слои</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox color="primary" [(ngModel)]="element.layers" (change)="toggleLayers(element)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="dicts">
    <th mat-header-cell *matHeaderCellDef> Справочники</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox color="primary" [(ngModel)]="element.dicts" (change)="toggleDicts(element)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="messages">
    <th mat-header-cell *matHeaderCellDef> Обращения</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox color="primary" [(ngModel)]="element.messages" (change)="toggleDMessages(element)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef> Доп. информация</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox color="primary" [(ngModel)]="element.info" (change)="toggleInfo(element)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="block">
    <th mat-header-cell *matHeaderCellDef> Блокировка</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox color="primary" [(ngModel)]="element.block" (change)="toggleBlock(element)">
      </mat-checkbox>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseenter)="current = row"></tr>
</table>
